<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hantek.ttia"
    android:versionCode="27"
    android:versionName="tBus2.0">

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_directions_bus_black_48dp_1"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.hantek.ttia.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name="com.hantek.ttia.SystemCheckActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name="com.hantek.ttia.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.hantek.ttia.services.SystemService"
            android:enabled="true"
            android:exported="true"></service>

        <service
            android:name="com.hantek.ttia.dl.DownloadService"
            android:enabled="true"
            android:exported="true"></service>

        <receiver android:name="com.hantek.ttia.module.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.hantek.ttia.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="landscape"></activity>
    </application>

</manifest>
